.anime-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.anime-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.anime-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.anime-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
  color: #333;
}

.anime-card p {
  color: #777;
  font-size: 14px;
}
.anime-card button {
  display: inline-block;
  margin: 5px 5px 0 5px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
}

/* Details button */
.anime-card button:first-of-type {
  background-color: #1e1e2f;
  color: white;
}

.anime-card button:first-of-type:hover {
  background-color: #1e1e2f;
}

/* Favorite button */
.anime-card button:last-of-type {
  background-color: #ff6b81;
  color: white;
}

.anime-card button:last-of-type:hover {
  background-color: #ff4c61;
}


