.back-button {
  padding: 10px 20px;
  border: 10px; 
  border-radius: 20px;     
  background-color: #1e1e2f;
  color: white;
  font-size: 16px;
  font-weight: bold;  
}

.details-container {
  padding: 20px;          
  padding-left: 40px;     
}