body {
  height: 100%;
  margin: 0;
  background-color: #f9f4f4; 
}
 
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f4f4;
  min-height: 100vh;
  padding: 40px 180px;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.load-btn {
  background-color: #1e1e2f;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 15px;
}

.load-btn:hover {
  background-color: #1e1e2f;
}

.search-container {
  position: relative;
}

.search-container input {
  padding: 10px 35px 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 200px;
}

.clear-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: #1e1e2f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 14px;
  line-height: 1;
}

.status {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.status.error {
  color: rgb(195, 145, 188);
}

.anime-list {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.genre-filter {
  padding: 8px 35px 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
  font-size: 13px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.genre-filter:hover {
  border-color: #1e1e2f;

}

.limit-selector{
  padding: 8px 35px 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
  font-size: 13px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.limit-selector:hover {
  border-color: #1e1e2f;

}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1e1e2f; 
  color: white; 
  border: none;
  border-radius: 4px;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
